@charset "utf-8";

body {
	min-width: 1000px;
}

#header {
	height: 10px;
	background-color: #80b52b;
}

#contents {
	width: 960px;
	margin: 0 auto;
}

.title {
	margin-top: 50px;
	height: 130px;
	line-height: 130px;
	border: #333333 1px solid;
	background: linear-gradient(0deg, #333333 50%, #474747 50%);
	background-size: 100% 4px;
	color: white;
	font-size: 40px;
	text-align: center;
	vertical-align: middle;
}

.titTopic01 {
	vertical-align: middle;
}

.addr {
	height: 100px;
	margin: 50px 0;
	border: #7fb42b 1px solid;
	background: linear-gradient(90deg, #7fb42b 50%, #84b734 50%);
	background-size: 8px 100%;
	color: white;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	line-height: 100px;
}

.txtAddress {
	vertical-align: middle;
}

.wrap {
	margin: 50px 0;
	overflow: hidden;
}

.telBox {
	float: left;
	height: 320px;
	line-height: 320px;
	width: 500px;
	border: #666666 5px solid;
	background: linear-gradient(90deg, #cccccc 50%, #cecece 50%);
	background-size: 8px 100%;
	box-sizing: border-box;
	color: #333333;
	position: relative;
	text-align: center;
}

.txtPhone {
	vertical-align: middle;
	text-align: center;
}

.tel h2 {
	font-size: 24px;
	text-align: center;
	font-weight: normal;
}

.tel hr {
	height: 7px;
	border-top: #686868 7px solid;
	margin: 14px auto 42px;
}

.tel p {
	font-size: 24px;
}

.img01 {
	float: right;
}

.img01 img {
	height: 320px;
	width: 450px;
}

.img02 {
	float: left;
}

.vert {
	float: right;
	width: 150px;
	height: 390px;
	text-align: center;
}

.vert img {
	vertical-align: middle;
}

.vert01 {
	height: 190px;
	line-height: 190px;
	margin-bottom: 10px;
	box-sizing: border-box;
	border: #345029 5px solid;
	background: linear-gradient(90deg, #345029 50%, #3c5731 50%);
	background-size: 8px 100%;
	color: white;
	position: relative;
}

.vert01 img {
	vertical-align: middle;
}

.vert02 {
	height: 190px;
	line-height: 190px;
	box-sizing: border-box;
	border: #7eb32b 5px solid;
	background: linear-gradient(90deg, #7eb32b 50%, #85b833 50%);
	background-size: 8px 100%;
	color: white;
	position: relative;
}

#footer {
	height: 40px;
	margin-top: 100px;
	background: #80b52b;
	color: white;
	font-size: 12px;
	text-align: center;
	line-height: 40px;
}

@media only screen and (max-width:767px){
	html, body {
		min-width: 0;
	}

	/* float none */
	.telBox,
	.img01,
	.img02,
	.vert {
		float: none;
	}

	#contents {
		width: 100%;
	}

	.vert {
		width: 100%;
		height: auto;
	}

	.titTopic01,
	.txtAddress {
		width: 95%;
	}

	.title {
		margin: 10px 0;
		height: 70px;
		line-height: 70px;
	}

	.addr,
	.vert01,
	.vert02 {
		height: 50px;
		line-height: 50px;
		margin: 10px 0;
	}

	.wrap {
		margin: 10px 0;
	}

	.telBox {
		width: 100%;
		height: 120px;
		line-height: 120px;
	}

	.txtPhone {
		height: 80px;
		width: auto;
	}

	.img01 img,
	.img02 img {
		width: 100%;
		height: auto;
		margin: 10px 0;
	}

}
